# PostgreSQL Database Configuration
POSTGRES_DB=notification_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://localhost:5432/notification_db

# Kafka Configuration
KAFKA_PORT=9092
KAFKA_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Redis Configuration
REDIS_PORT=6379
REDIS_HOSTS=redis://localhost:6379

# Firebase Configuration
FIREBASE_PUSH_ENABLED=true
GOOGLE_CLOUD_PROJECT_ID=notification-a0c90
GOOGLE_CLOUD_SERVICE_ACCOUNT_LOCATION=firebase-service-account.json
